*{
    box-sizing: border-box;
    color: blue;
    
}

body {
    
    font-size: 16px;
    font-family:  sans-serif;
   
    
}
.h1{
    color: darkred;
}
h3{
    font-weight: bold;
}
.forecast{
    background-color: gray;
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: darkcyan;
    text-decoration: underline;
}
.jumbotron{
    color:chartreuse;
    background-color:darkblue
}
.btn{
    color: red;
    border: 2px solid green;
}

.btn:hover{
    color: gold
}